body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('/vecteezy_judge-gavel-on-a-wooden-desk-law-concept_4340263.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px; /* Adjust the height as needed */
}

header {
    background-color: gold;
    color: black;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right {
    font-size: 6pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    margin-right: 0;
    justify-content: right;
    margin-left: 1500px;
}

.nav-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo {
    width: 100px; 
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 710;
}


.nav-links {
    padding-right: 1;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 710px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

section {
    padding: 80px 0;
}

.hero, .contact-content {
    max-width: 550px;
    text-align: left;
    margin-left: 300px;
    padding-right: 30px;
    font-family: Georgia, Arial, Helvetica, sans-serif;
}
.contact-content {
    margin-left: 1050px;
    margin-top: -510px;
    font-size: 20pt;
    
}
.services-content {
    max-width: 960px;
    margin: 0 auto;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}
