* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.408),rgba(4, 9, 30, 0.408)),url(images/scales\ of\ justice.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
@media(max-width: 700px){
    
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 20%; /* Adjust as needed */
}

nav img {
    width: 100px;
    margin-bottom: 20px; /* Add spacing below the logo */
}

.nav-links {
    text-align: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links ul li {
    padding: 8px 0px;
    margin: 0 10px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin: 0 10px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 145, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    margin-top: 50px;
}
.text-box h1{
    font-size: 25pt;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgba(0, 145, 255);
    background-color: rgba(0, 145, 255);
    transition: 1s;
}

/*----- chooseus ----*/

.chooseus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 600px;
}

 h1{
    font-size: 30px;
    font-weight: 600;
 }

 p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
.choose-col{
    flex-basis: 31%;
    background: rgb(227, 244, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.choose-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----- call to action ----*/

.cta{
    margin: 15% auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn2:hover{
    border: 1px solid rgba(0, 145, 255);
    background-color: rgba(0, 145, 255);
    transition: 1s;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*------footer----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*------ about us page -----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.464),rgba(4, 9, 30, 0.464)),url(images/lady-justice.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 55%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

/*-----practice----*/

.practices{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}

 h3{
    font-size: 36px;
    font-weight: 600;
 }

 p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
.practice-col{
    flex-basis: 31%;
    background: rgb(227, 244, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.practice-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------contact us page------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    border-radius: 10px;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col p{
    margin-bottom: 40px;
    padding: 0;
}
.contact-col h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.disclaimer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.disclaimer h6{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 12pt;
}